@CHARSET "UTF-8";

div.logoDiv {
	width: 100%;
	height: 200px;
	background-image: URL('carpooling_logo.png');
	background-repeat: no-repeat;
}
div.main{
	width:100%;
	display: inline-block;
}
div.quickNav{
	float:right;
	width: 20%;
	height: 200px;
	font-size: 12px;
	text-align: center;
}

div.content{
	float:left;
	width:80%;
}

h5
{
color:red;
font-weight:bold;
font-size:14 pt;
}

h6{
	font-weight:bold;
}
